body{
	margin: 0 auto;
	padding: 0;
	font-size: 20px;
	color:#DEDEDE;
}
.wallpaper{
	background: url(../img/fom1.jpg) no-repeat;
	-webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	height:100%;
	width: 100%;
 	position: fixed;
	z-index: -30;
}
.userMenu{

	padding-left: 10px;
	padding-right: 10px;
	opacity: 0.5;
	display: flex;
	justify-content: space-between;
	color: black;
	width: 100%;
	height: 60px;
	border: 1px solid black;
	background-color: #DEDEDE;
}
.name{
	padding-top: 25px;
}
.exit{
	padding-top: 25px;
}
.mainName{
	margin-top: 10px;
	display: flex;
	justify-content: center;
	font-size: 2.5em;
}
.search{
	margin: auto;
	display: flex;
	justify-content: center;
	width: 70%;
	border: 1px solid black;
}
#searchLine{
	width: 80%;
	height: 30px;
	font-size: 25px;
}
#searchButton{
	text-align: center;
	padding-top: 8px;
	width: 20%; /*add search icon*/
	font-size: 20px;
	background-color: #FFAB57;
}
.cart{
	margin-top: 10px;
	flex-wrap: wrap;
	position: fixed;
	border-radius: 50%;
	text-align: center;
	width: 90px;
	height: 90px;
	border: 1px solid white;
	margin-left: 94%;
}
a{
	text-decoration: none;
	color: black;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   
    -webkit-appearance: none;
    
}
.filters{
	padding-top: 10px;
	width: 70%;
	border: 1px solid black;
	min-height: 40px;
	margin:  auto;
	background-color: #DEDEDE;
	opacity: 0.5;
	justify-content: center;
	min-width: 535px;
	display: flex;
}
.filterColumn{
	width: 33%;
	color: black;
	display: flex;
	justify-content: center;

}
.searchResults{
	padding: 20px;
	margin: auto;
	width: 80%;
}

.book{
	color: black;
	margin: 30px;
	border: 1px solid red;
 	width: 500px;
 	height: 500px;
 	min-width: 400px;
 	background-color: #EEFEEC;

}
.bookPicture{
	height: 400px;
	width: 100%;

	background-color: cyan;
}
.booksList{
	justify-content: center;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}